fastapi
uvicorn
chromadb==0.4.22
numpy==1.26.4
torch==2.10.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
pypdf
redis
httpx
python-dotenv
sentence-transformers==2.7.0
huggingface-hub==0.19.4
python-multipart
